@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Turist-Jhanmaicol</h1>
    <p class="lead">En nuestra empresa podra disfrutar de los mejores paquetes de viaje y descansar en los mejores hoteles somos Turist Jhanmaicol</p>
    <p><a href="http://localhost:57727/Clientes" class="btn btn-primary btn-lg">INICIA  &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hospedaje</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://localhost:57727/Hospedajes">DALE CLICK &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transporte</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:57727/Transportes">DALE CLICK &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Venta de Paquete</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://localhost:57727/VentaPaquete">DALE CLICK &raquo;</a></p>
    </div>
</div>